.registerContainer,
form.registerForm,
a.btn,
.oauthLogin {
    display: flex;
}

.registerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
    min-height: 100vh;
}

.registerFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1b1a26;
    border-radius: 1rem;
    padding: 1rem;
    width: 575px;
}

.formContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    border-radius: 1rem;
}

.oauthLogin {
    gap: 1rem;
    flex-direction: column;
    width: 540px;
    padding: 0 2.5rem;
    justify-content: center;
}

.registerHeader {
    font-size: 1.4rem;
}

form.registerForm {
    text-align: center;
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.roleGroup {
    font-size: 1.2rem;
}

a.btn {
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.7rem;
    border: 0.8px solid #3b4251;
    border-radius: 0.5rem;
    width: 100%;
}

a.btn:hover {
    text-decoration: underline;
}

.error {
    color: #ff5959;
}

.line {
    border: 1px solid white;
    width: 100%;
}

.btnOAuth {
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 0.45rem;
    width: 100%;
    background: #484854;
    color: var(--text);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.45rem;
    background: #121419;
}

.btnOAuth:hover {
    background: #28303f;
}

.oauthLogin > p {
   text-align: center;
}

input[type="radio"] {
    appearance: none;

    border-radius: 50%;
    width: 18px;
    height: 18px;

    border: 2px solid #999999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 5px;
}

input:checked {
    border: 10px solid #f53f7d;
}

@media (max-width: 720px) {
    .registerContainer {
        padding: 0 1.3rem;
    }
    .registerFormContainer {
        width: 100%;
        margin: 0 1rem;
    }

    .registerHeader {
        font-size: 1.2rem;
    }
}

@media (max-width: 560px) {
    .registerContainer {
        padding: 0.5rem 2rem;
    }

    .registerFormContainer {
        font-size: 0.87rem;
    }

    form.registerForm {
        display: block;
    }

    .formContent {
        padding: 0;
    }

    .registerInput {
        height: 30px;
    }
}
